---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import worksData from "@assets/worksData";
import WorkCard from "@components/WorkCard.astro";
---

<Layout title={`Labs | ${SITE.title}`}>
  <Header activeNav="labs" />
  <Main pageTitle="Labs" pageDesc={"₍₍ ᕕ( ˘ω˘ )ᕗ⁾⁾"}>
    <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {worksData.reverse().map(work => <WorkCard work={work} />)}
    </ul>
  </Main>
  <Footer />
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0">
    <defs>
      <filter id="squiggle">
        <feTurbulence
          type="fractalNoise"
          id="turbulence"
          baseFrequency=".05"
          numOctaves="4"></feTurbulence>
        <feDisplacementMap id="displacement" in="SourceGraphic" scale="4"
        ></feDisplacementMap>
      </filter>
    </defs>
  </svg>
</Layout>
